.Game,
.Loading {
  padding: 1rem;
  background-color: white;
  font-family: "Comic Sans MS", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  margin: 1rem auto;
}

.Game * {
  box-sizing: border-box;
}

.Game button {
  all: inherit;
  display: inline-block;
  padding: 0.5rem;
  font-family: 'Comic Sans MS', sans-serif;
  background: transparent;
  border: dashed 0.2rem rgb(0, 0, 0);
  border-radius: 15rem 0.9375rem 15rem 0.9375rem/0.9375rem 15rem 0.9375rem 15rem;
  outline: none;
}

.Game .Definition {
  font-size: 1rem;
}

.Letter {
  all: inherit;
  display: inline-block;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  font-family: 'Comic Sans MS', sans-serif;
  border-radius: 15rem 0.9375rem 15rem 0.9375rem/0.9375rem 15rem 0.9375rem 15rem;
  border: solid 0.3125rem rgb(0, 0, 0);
}

.Letter,
.Game button {
  margin: 0 0.25rem;
}

.Letter:focus,
.Game button:focus {
  background-color: yellow;
}

.Letter.correct {
  background-color: green;
}

.Letter.incorrect {
  background-color: red;
}

.Word {
  font-size: 2rem;
}
